body {
  background-color: #ececec;
}

a {
  text-decoration: none;
}

.loader {
  display: none;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.container {
  max-width: 700px;
  margin: 50px auto;  
}
.container h1 {
  text-align: center;
}

.form-container {
  max-width: 550px;
  margin: 50px auto;
}

#payment-form div {
  margin-top: 30px;
}

#cardholder-name {
  width:100%;
  color: #32325d;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
}

.intent-form-container button {
  margin:15px 0;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}